body{
    background:black;
}
#video{
    position: absolute;
    top: 1%;
    left: 15%;
    margin-top: 95px;
    margin-bottom: 95px;
    margin-left: 95px;
    margin-right: 95px;
    border: solid 5px  aqua;
    opacity: 0.6;
}

#snaps{
    position: absolute;
    top: 25%;
    left: 25%;
	border-radius: 50%;
	

	width: 82px;
	height: 82px;
	background-color: #ffffff;
	color: #f7f7f7;
	opacity: .6;
	z-index: 100;
    border: transparent;
  box-shadow: 2px 2px 2px 2px rgb(25, 117, 117);
}
#canvas{
    position: absolute;
    top: 0%;
    left: 00%;   

}